/* Styles go here */

body {
  font-family: "Apercu Mono Regular", 'Andale Mono', monospace;
  font-size: 14px;
  position: relative;
  color: black;
  background-color: white;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

header {
  border-bottom: 2px solid #E6B91E;
}


.my-flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 30px 0px 0px 0px;
}

.my-flex-block-form{
  padding: 15px 0px 0px 0px;
}


.filmContent-error{
  padding: 10px 30px 10px 30px;
  margin-top: 30px;
  border: 1px solid red;
  border-radius: 5px 5px;
  width: 290px;
  background-color: #D8000C;
  background-repeat: no-repeat;
  color: white;
}

.filmContent-error:hover{
  cursor: pointer;
  
}
.imdb-img {
  position: absolute;
  
  left: 300px;
}

h1 {
  position: relative;
}

h3 {
  position: relative;
}

.my-flex-block-form {
  margin: 0px 50px 0px 0px;
}

.film {
  padding: 30px 0px 0px 30px;
  background-color: rgb(143,143,159);
  background: -moz-radial-gradient(circle, rgba(143,143,159,1) 0%, rgba(208,229,231,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(143,143,159,1) 0%, rgba(208,229,231,1) 100%);
  background: radial-gradient(circle, rgba(143,143,159,1) 0%, rgba(208,229,231,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8f8f9f",endColorstr="#d0e5e7",GradientType=1);;
  background-repeat: no-repeat;
}
