/* Styles go here */

body {
  font-family: "Apercu Mono Regular", 'Andale Mono', monospace;
  font-size: 20px;
  position: relative;
  color: black;
  background-color: white;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

header {
  border-bottom: 2px solid #E6B91E;
  padding: 30px 0px 30px 0px;
}

.my-flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 30px 0px 0px 0px;
}

img.main.main-img {
    margin: 150px 0px 30px 300px;
    border: 10px solid #E6B91E;
   
}


.my-flex-block-form{
  padding: 15px 0px 0px 0px;
}

.main-search{
  border: none;
  border-bottom: 2px solid #E6B91E;
  width: 500px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 5px 35px 5px 35px
}

button.btn.btn-block.btn-primary {
    width: 250px;
    background-color: rgb(230, 185, 30);
    font-size: 20px;
}

button.btn.btn-block.btn-primary:hover {
  background-color: white;
  color: #E6B91E;
}

.filmContent-error{
  padding: 10px 30px 10px 30px;
  margin-top: 30px;
  border: 1px solid red;
  border-radius: 5px 5px;
  width: 290px;
  background-color: #D8000C;
  background-repeat: no-repeat;
  color: white;
}

.filmContent-error:hover{
  cursor: pointer;
  
}

.my-flex-block-form {
  margin: 0px 50px 0px 0px;
}

div#innerFilm {
  /*padding: 30px 0px 0px 30px;*/
  background-repeat: no-repeat;
}

/*
footer{
  background-color: #E6B91E;
  height: 50px;
}
*/
